#img__footer {
  text-align: center;
}
figure {
  margin: 0 !important;
}
.fix__shadown {
  box-shadow: 0 0.2rem 0.6rem 0.1rem #ccc;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(24, 5vw);
  grid-gap: 15px;
}
.w3-image {
  max-width: 100%;
  height: 500px !important;
  object-fit: cover;
}
.gallery-g-0 {
  grid-gap: 1px !important;
}
.gallery .gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 11;
}
.gallery__item--8 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 11;
}
.gallery__item--9 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 14;
}
.gallery__item--10 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 14;
}
.gallery__item--11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 17;
}
.gallery__item--12 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 14;
  grid-row-end: 17;
}
.gallery__item--13 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 14;
  grid-row-end: 17;
}
.gallery__item--14 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 19;
}
.gallery__item--15 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 17;
  grid-row-end: 19;
}
.gallery__item--16 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 17;
  grid-row-end: 22;
}
.gallery__item--17 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 19;
  grid-row-end: 22;
}
.gallery__item--18 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 19;
  grid-row-end: 22;
}
.gallery__item--19 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 22;
  grid-row-end: 25;
}
.gallery__item--20 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 22;
  grid-row-end: 25;
}
.gallery__item--21 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 22;
  grid-row-end: 25;
}
@media only screen and (max-width: 601px) {
  .w3-hide-medium {
    display: block !important;
  }
}
@media only screen and (max-width: 993px) {
  .w3-hide-medium {
    display: block !important;
  }
  .fix__shadown {
    display: none !important;
  }
  .width__ne {
    width: 45%;
  }
}
.icon-pause {
  display: inline-block;
}
.icon-play {
  display: inline-block;
}
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}
.control .btn.active {
  color: var(--primary-color);
}
.control .btn {
  color: white;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.time {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 2px;
}

@media only screen and (min-width: 1028px) {
  .width__ne {
    width: 28%;
  }
}
@media only screen and (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: block !important;
  }
  .w3-xxxlarge {
    font-size: 23px !important;
  }
}
@media only screen and (max-width: 601px) {
  .w3-xxxlarge {
    font-size: 23px !important;
  }
  .width__ne {
    width: 75%;
  }
}
